
<h2> Edit the Project</h2>

<form ng-controller="EditCtrl" name="form">
	<label> Title: </label> <input type="text" name="title" ng-model="project_title"> <br><br>
	<label>Description:</label> <textarea type="text" name="description" ng-model="project_description"></textarea><br> <br>
	<label>Due Date: </label> <input type="text" name="duedate" ng-model="project_duedate"><br> <br>
	<label> Team: </label> <input type="text" name="team" ng-model="project_team"><br><br>
	<label> Project Status: </label> 
		<select name="status" ng-model="project_status">
			<option value="Not Started">Not Started</option>
			<option value="On Track">On Track</option>
			<option value="Delayed">Delayed</option>
			<option value="Completed">Completed </option>
		</select>
		<br><br>
	<input class="btn" type="button" value="Submit" buttonaction= "saveTheProjectDetails()">
	<input class="btn" type="button" value="Cancel" buttonaction="cancelTheProject()">
</form>
